<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
        <link rel="stylesheet" href="/styles/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
        <script src="scripts/chat.js"></script>  
    </head>    
    <div class="app">
        <div class="splash f">
            <div class="f">
                <input type="text" name="name" value="" placeholder="Choose a name">
                <button class="submit-btn" type="submit">✔</button>
            </div>
        </div> 
        <div class="main f">
            <div class="sidebar f f-col">
                
            </div>
            <div class="content f-1 f f-col">
                <div class="messages-container"></div>
                <div class="input-bar f">
                    <div class="f">
                        <input class="f-1" type="text" name="message" value="" placeholder="enter your message here...">
                        <button class="submit-btn" type="submit">✔</button>
                    </div>
                    <div class="status"></div>
                </div>   
            </div>
        </div>
    </div>
</html>