.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.f-5 {
  flex: 5;
}

.f-6 {
  flex: 6;
}

.f-7 {
  flex: 7;
}

.f-8 {
  flex: 8;
}

.f-9 {
  flex: 9;
}

.f-10 {
  flex: 10;
}

.f-11 {
  flex: 11;
}

.f-12 {
  flex: 12;
}

.f {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

body {
  font-family: "Quicksand";
  background: #17252A;
  overflow: hidden;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.main {
  height: 75vmin;
  width: 121.35vmin;
  border-radius: 8px;
  box-shadow: 0px 0px 17px 1px #00000040;
  overflow: hidden;
}
@media (max-width: 768px) {
  .main {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: none;
    overflow: hidden;
  }
}

.sidebar {
  min-width: 24.27vmin;
  background: #3AAFA9;
  color: #FEFFFF;
  height: 100%;
  padding: 20px;
}

.content {
  background: #FEFFFF;
  padding: 30px;
}

.user-list-item .name {
  font-size: 20px;
  font-weight: 600;
  color: #FEFFFF;
}

.avatar {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: #17252A;
  font-weight: 800;
  text-align: center;
  margin: 5px;
  color: #FEFFFF;
  line-height: 33px;
  border-radius: 50%;
}

.input-bar {
  margin-top: auto;
  width: 100%;
}
.input-bar > * {
  width: 100%;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #aab;
  text-indent: 10px;
  border-top-left-radius: 4.9443757726px;
  border-bottom-left-radius: 4.9443757726px;
  border-right: none;
}

.submit-btn {
  background: #2B7A78;
  color: #FEFFFF;
  width: 50px;
  border: none;
  border-top-right-radius: 4.9443757726px;
  border-bottom-right-radius: 4.9443757726px;
}

.splash {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #17252A;
}
.splash input {
  height: 40px;
  font-size: 120%;
}

@media (max-width: 768px) {
  input {
    height: 50px;
    font-size: 16px;
    border-top-left-radius: 6.0698027314px;
    border-bottom-left-radius: 6.0698027314px;
  }

  .submit-btn {
    font-size: 20px;
    border-top-right-radius: 6.0698027314px;
    border-bottom-right-radius: 6.0698027314px;
  }

  .avatar {
    line-height: 35px;
  }

  .sidebar {
    min-width: unset;
    padding: 10px;
  }
  .sidebar .name {
    display: none;
  }

  .content {
    padding: 15px;
  }
}
.messages-container {
  overflow-y: auto;
}
.messages-container .message-item {
  margin: 5px auto;
}
.messages-container .message-item .message-wrapper {
  display: inline-block;
  border-radius: 1000px;
}
.messages-container .message-item .message-wrapper .text {
  padding-right: 10px;
}
.messages-container .message-item .message-time {
  font-size: 13px;
  color: #bbb;
  font-style: italic;
}
.messages-container .message-item .avatar {
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 12px;
}

.status {
  position: absolute;
  margin-top: 30px;
  padding: 3px;
  font-style: italic;
  font-size: 13px;
}

.watermark {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: white;
  align-items: center;
}
.watermark a, .watermark a:visited, .watermark a:hover, .watermark a:active {
  text-decoration: none;
  color: inherit;
}
.watermark > * {
  margin: auto 5px;
}
.watermark i {
  font-size: 20px;
}
@media (max-width: 768px) {
  .watermark {
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(90deg) translate(-190px, -50px);
  }
}

/*# sourceMappingURL=style.css.map */
